* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#display-cards {
    display: grid;
    margin: 0px 30px;
}

button{
    margin: 5px 30px;

    height: 35px;
    width: 70px;

    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.note {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    height: 140px;

    padding: 15px;    
    margin: 10px 0px;
}