.home-button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

img.app-img {
  max-width: 100%;
  height: auto;
}
a.app-img {
  text-decoration: none;
}

.app-name {
  padding-left: 4px;
  color: #5f6368;
  font-family: "Product Sans", Arial, sans-serif;
}

.anchor-wrapper {
  text-decoration: none;
}
.anchor-wrapper:hover {
  cursor: pointer;
}
.anchor-wrapper:active {
  text-decoration: underline;
}
