/*
.notes__container {
  --grid-cols: 1;

  display: grid;
  grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
}

.notes__container--grid__layout {
  --grid-cols: 4;
}

.layout__toggle__button[data-view="list"] [data-icon="grid"] {
  display: none;
}

.layout__toggle__button[data-view="grid"] [data-icon="list"] {
  display: none;
}
*/
